APP_NAME=app_name
APP_ENV=local
PORT=8080
ALLOWED_ORIGINS=
ALLOWED_METHODS=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_URL=

XENDIT_BASE_URL=
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
